<div class="container">
  <div class="meta-cont">
    <div id="break-label">Break Length:</div>
    <div id="session-label">Session Length:</div>
  </div>
  <div class="meta-cont">
    <div class="button-wrapper">
      <button id="break-decrement" (click)="changeTime(true, -60)">-</button>
      <span id="break-length">{{ breakLength / 60 }}</span>
      <button id="break-increment" (click)="changeTime(true, 60)">+</button>
    </div>
    <div class="button-wrapper">
      <button id="session-decrement" (click)="changeTime(false, -60)">-</button>
      <span id="session-length">{{ sessionLength / 60 }}</span>
      <button id="session-increment" (click)="changeTime(false, 60)">+</button>
    </div>
  </div>
  <div>
    <div id="pie" [ngStyle]="getCountdownPieStyle()"></div>
    <div id="timer">
      <div id="time-left">{{ timeLeftStr }}</div>
      <div id="timer-label">{{ currentState }}</div>
    </div>
  </div>
  <div class="meta-cont">
    <button id="start_stop" (click)="changeTimerState()">Start/Stop</button>
    <button id="reset" (click)="reset()">Reset</button>
  </div>
  <audio id="beep" src="./assets/alarm.mp3" hidden></audio>

  <!--<div id="pie" class="ten"></div>-->
</div>
