$backgroundColor: rgb(21, 27, 41);
$tomato: #ff6347;
$componentFontFamily: "Open Sans Condensed", sans-serif;

@mixin break-session($font-size, $width, $text-align) {
  font-size: $font-size;
  width: $width;
  text-align: $text-align;
}

@mixin moveVerticalRelative($diff) {
  position: relative;
  top: $diff;
}

@mixin circle() {
  border-radius: 50%;
}

@mixin centreElement() {
  margin: 0 auto;
}

@mixin flexWithWidth(
  $width,
  $display,
  $flexDirection,
  $justifyContent,
  $alignItems
) {
  width: $width;
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#break-label,
#session-label {
  @include break-session(1.5em, 50%, center);
}

#break-length,
#session-length {
  @include break-session(2em, 26px, center);
}

.button-wrapper {
  @include flexWithWidth(50%, flex, row, center, center);
}

.meta-cont {
  @include flexWithWidth(400px, flex, row, center, center);
}

.move-vertical {
  @include moveVerticalRelative(-200px);
}

button {
  @include circle();

  background-color: $backgroundColor;
  border: $tomato 3px solid;
  font-family: $componentFontFamily;
  color: $tomato;

  width: 100px;
  height: 100px;
  margin: 10px;

  font-size: 1.5em;
  outline: none !important;

  &[id*="crement"] {
    width: 50px;
    height: 50px;
    font-weight: bold;
  }
}

#timer {
  @include flexWithWidth(200px, flex, column, center, center);
  @include moveVerticalRelative(-203px);
  @include centreElement();
  @include circle();

  background-color: $backgroundColor;
  font-family: $componentFontFamily;

  height: 200px;
}

#time-left {
  text-align: center;
  font-size: 3em;
  border-bottom: 1px solid $tomato;
}

#timer-label {
  font-size: 1.5em;
  text-align: center;
}

#pie {
  @include centreElement();
  @include circle();

  background-color: $backgroundColor;

  width: 206px;
  height: 206px;
  display: block;
  z-index: -1;
}
