<div id="break-label">Break Length</div>
<div id="session-label">Session Length</div>
<button id="break-decrement" (click)="changeTime(true, -60)">Break -</button>
<button id="break-increment" (click)="changeTime(true, 60)">Break +</button>
<button id="session-decrement" (click)="changeTime(false, -60)">
  Session -
</button>
<button id="session-increment" (click)="changeTime(false, 60)">
  Session +
</button>
<div id="break-length">{{ breakLength / 60 }}</div>
<div id="session-length">{{ sessionLength / 60 }}</div>
<div id="timer-label">{{ currentState }}</div>
<div id="time-left">{{ timeLeftStr }}</div>
<button id="start_stop" (click)="changeTimerState()">Start/Stop</button>
<button id="reset" (click)="reset()">Reset</button>
